*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* SET OF RULES - FIRST SECTION */
header{
    background-color: lightblue;
    height: 100px;
    border-bottom: 2px solid blue;
}

section{
    width: 1000px;
    height: 700px;
}

.center-x{
    justify-content: center;
}

.center-y{
    align-items: center;
}

.margin-auto{
    margin: 0 auto;
}

.first-section{
    height: 100px;
}

.flexbox{
    display: flex;
}

.height-100{
    height: 100%;
}

.width-100{
    width: 100%;
}

.yellow-container{
    border: 2px dotted black;
    height: 50px;
    background: goldenrod;
}

.logo, .login{
    width: 25%;
}

.link-container{
    width: 50%;
    border-left: 2px dotted black;
    border-right:2px dotted black;
}

ul{
    list-style-type: none;    
    column-gap: 10px;
}

.login{
    justify-content: flex-end;
}

/* SECOND SECTION */

.main-section-height{
    height: 500px;
}

.main-section-height2{
    height: 1000px;
}

.second-section{
    background-color: blue;
}

.purple-box{
    width: 700px;
    height: 400px;
    background-color: rgb(158, 27, 158);
    border-radius: 10px;
    border: 2px dotted black;
}

/* THIRD SECTION */

.box-type-1{
    width: 1000px;
    height: 400px;
    border: 1px dashed black;
}

.box-type-2{
    width: 1000px;
    height: 800px;
    border: 1px dashed black;
}

.pink-color{
    background-color: pink;
}

.blue-color{
    background-color: rgb(17, 67, 232);
}

.small-block{
    width: 40%;
}

.big-block{
    width: 60%;
}

.third-section >.box-type-1 > .small-block{
    border-right: 3px dashed black;
}

/* FOURTH SECTION */

.grey-bg{
    background-color: grey;
}

.fourth-section > .box-type-1{
    flex-direction: row-reverse;
}

.fourth-section > .box-type-1 > .big-block{
    border-right: 3px dashed black;
}

/* FIFTH SECTION */
.fifth-section > .box-type-1 > .small-block{
    border-right: 3px dashed black;
}

/* SIXTH SECTION */
.green-color{
    background-color: green;
}

/* SEVENTH SECTION */

.seventh-section{
    border-bottom: 2px solid white;
}

.black-bg{
    background-color: rgb(34, 34, 34);
}

.smaller-block{
    width: calc(60% / 4);
    border: 2px dashed white;
}

.turquoise-color{
    background-color: turquoise;
}

.seventh-section > .box-type-1 > .small-block{
    border-right: 3px dashed black;
}

/* EIGHTH SECTION */
footer{
    background-color: rgb(34, 34, 34);
    height: 100px;
}

.eighth-section{
    align-items: flex-end;
}

.lightblue-container{
    height: 50px;
    background: lightblue;
    justify-content: space-between;
    border: 1px solid black;
}

.logo-footer, .button-footer{
    width: 70px;
    height: 25px;
    border: 2px dashed black;
}